@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #12151a;
  color: white;
}

body::-webkit-scrollbar{
  display: none;
}

#root {
  height: 100vh;
  width: 100%;
}

.myH {
  flex-grow: 1;
}


.resGit{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}