@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Montserrat", sans-serif; */
}

body {
  background: #12151a;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: rgba(0, 0, 0, 0.778);
  backdrop-filter: blur(20px);
}

aside, .gun {
  background-color: rgba(0, 0, 0, 0.778);
  backdrop-filter: blur(20px);
}

#root {
  height: 100vh;
  width: 100%;
}

.myH {
  flex-grow: 1;
}

.resGit {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1700px;
}

@media (max-width: 1550px) {
  .resGit {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .resGit {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .resGit {
    grid-template-columns: repeat(3, 1fr);
  }

  /* aside{
    display: none;
  } */
}

@media (max-width: 750px) {
  .resGit {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 530px) {
  .resGit {
    grid-template-columns: repeat(1, 1fr);
  }
}

.navs > .active{
  background-color: #2979c4;
}

header, aside {
  z-index: 999;
}

.shadow-btn{
  transition: all ease .3s;
}

.shadow-btn:hover{
  box-shadow: 0 0 15px #2979c48e;
}
